<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
</head>
<body>
    {{>navbar}}
    <hr>
    <h2>Perfil Usuario: {{usuario.nombre}}</h2>
    <h4>Nombre: {{usuario.nombre}}</h4>
    <p>Email: {{usuario.email}}</p>
    <p>Email: {{usuario.rol}}</p>
    <br>
</body>
</html>